src/template/template.sch

<?xml version="1.0" encoding="${default-encoding}"?>

<!-- New Schematron document created with EditiX XML Editor (http://www.editix.com) at ${date} -->

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
   <pattern>
      <title>CELL</title>
      <rule context="PATH">
         <assert test="TEST">ERROR</assert>
      </rule>
   </pattern>
</schema>
